<form action="/schedule" method="post">
    <div class="card">
        <div class="card-header mx-0 row">
            <div class="col-9 ml-2">
                <div class="text-center">
                    <h3>Pretensión de horario</h3>
                </div>
            </div>
            <div class="col-2">
                <button id="saveButton" type="submit" class="btn btn-primary py-auto" style="float: right;">
                    Guardar
                </button>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <!-- #676BDC -->
                    <!-- #6FB8E6 -->
                    <tr class="headers">
                        <th id="00" class="th-header" scope="col" style="width:10%">Hora</th>
                        <th id="01" class="th-header" scope="col" style="width:18%">Lunes</th>
                        <th id="02" class="th-header" scope="col" style="width:18%">Martes</th>
                        <th id="03" class="th-header" scope="col" style="width:18%">Miercoles</th>
                        <th id="04" class="th-header" scope="col" style="width:18%">Jueves</th>
                        <th id="05" class="th-header" scope="col" style="width:18%">Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th id="10" class="th-text" scope="row" style="text-align:center width:10%">07:00-08:00</th>

                        <td id="field11" style="width:18%">
                            <input type="checkbox" id="btn11" class="star btn-secret btn-occupied">
                            <label for="btn11" class="fas fa-star star mt-2  pr-2"
                                        id="lbtn11"></label>
                        </td>
                        <td id="field12" style="width:18%">
                            <a href="" id="btn12" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field13" style="width:18%">
                            <a href="" id="btn13" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field14" style="width:18%">
                            <a href="" id="btn14" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field15" style="width:18%">
                            <a href="" id="btn15" class="btn btn-secret btn-free"></a>
                        </td>
                    </tr>
                    <tr>
                        <th id="20" class="th-text" scope="row" style="text-align:center width:10%">08:00-09:00</th>

                        <td id="field21" style="width:18%">
                            <a href="" id="btn21" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field22" style="width:18%">
                            <a href="" id="btn22" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field23" style="width:18%">
                            <a href="" id="btn23" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field24" style="width:18%">
                            <a href="" id="btn24" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field25" style="width:18%">
                            <a href="" id="btn25" class="btn btn-secret btn-free"></a>
                        </td>
                    </tr>
                    <tr>
                        <th id="30" class="th-text" scope="row" style="text-align:center width:10%">09:00-10:00</th>

                        <td id="field31" style="width:18%">
                            <a href="" id="btn31" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field32" style="width:18%">
                            <a href="" id="btn32" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field33" style="width:18%">
                            <a href="" id="btn33" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field34" style="width:18%">
                            <a href="" id="btn34" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field35" style="width:18%">
                            <a href="" id="btn35" class="btn btn-secret btn-free"></a>
                        </td>
                    </tr>
                    <tr>
                        <th id="40" class="th-text" scope="row" style="text-align:center width:10%">10:00-11:00</th>

                        <td id="field41" style="width:18%">
                            <a href="" id="btn41" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field42" style="width:18%">
                            <a href="" id="btn42" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field43" style="width:18%">
                            <a href="" id="btn43" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field44" style="width:18%">
                            <a href="" id="btn44" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field45" style="width:18%">
                            <a href="" id="btn45" class="btn btn-secret btn-free"></a>
                        </td>
                    </tr>
                    <tr>
                        <th id="50" class="th-text" scope="row" style="text-align:center width:10%">11:00-12:00</th>

                        <td id="field51" style="width:18%">
                            <a href="" id="btn51" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field52" style="width:18%">
                            <a href="" id="btn52" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field53" style="width:18%">
                            <a href="" id="btn53" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field54" style="width:18%">
                            <a href="" id="btn54" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field55" style="width:18%">
                            <a href="" id="btn55" class="btn btn-secret btn-free"></a>
                        </td>
                    </tr>
                    <tr>
                        <th id="60" class="th-text" scope="row" style="text-align:center width:10%">12:00-13:00</th>

                        <td id="field61" style="width:18%">
                            <a href="" id="btn61" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field62" style="width:18%">
                            <a href="" id="btn62" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field63" style="width:18%">
                            <a href="" id="btn63" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field64" style="width:18%">
                            <a href="" id="btn64" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field65" style="width:18%">
                            <a href="" id="btn65" class="btn btn-secret btn-free"></a>
                        </td>
                    </tr>
                    <tr>
                        <th id="70" class="th-text" scope="row" style="text-align:center width:10%">13:00-14:00</th>

                        <td id="field71" style="width:18%">
                            <a href="" id="btn71" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field72" style="width:18%">
                            <a href="" id="btn72" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field73" style="width:18%">
                            <a href="" id="btn73" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field74" style="width:18%">
                            <a href="" id="btn74" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field75" style="width:18%">
                            <a href="" id="btn75" class="btn btn-secret btn-free"></a>
                        </td>
                    </tr>
                    <tr>
                        <th id="80" class="th-text" scope="row" style="text-align:center width:10%">14:00-15:00</th>

                        <td id="field81" style="width:18%">
                            <a href="" id="btn81" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field82" style="width:18%">
                            <a href="" id="btn82" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field83" style="width:18%">
                            <a href="" id="btn83" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field84" style="width:18%">
                            <a href="" id="btn84" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field85" style="width:18%">
                            <a href="" id="btn85" class="btn btn-secret btn-free"></a>
                        </td>
                    </tr>
                    <tr>
                        <th id="90" class="th-text" scope="row" style="text-align:center width:10%">15:00-16:00</th>

                        <td id="field91" style="width:18%">
                            <a href="" id="btn91" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field92" style="width:18%">
                            <a href="" id="btn92" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field93" style="width:18%">
                            <a href="" id="btn93" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field94" style="width:18%">
                            <a href="" id="btn94" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="field95" style="width:18%">
                            <a href="" id="btn95" class="btn btn-secret btn-free"></a>
                        </td>
                    </tr>
                    <tr>
                        <th id="a0" class="th-text" scope="row" style="text-align:center width:10%">16:00-17:00</th>

                        <td id="fielda1" style="width:18%">
                            <a href="" id="btna1" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="fielda2" style="width:18%">
                            <a href="" id="btna2" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="fielda3" style="width:18%">
                            <a href="" id="btna3" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="fielda4" style="width:18%">
                            <a href="" id="btna4" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="fielda5" style="width:18%">
                            <a href="" id="btna5" class="btn btn-secret btn-free"></a>
                        </td>
                    </tr>
                    <tr>
                        <th id="b0" class="th-text" scope="row" style="text-align:center width:10%">17:00-18:00</th>

                        <td id="fieldb1" style="width:18%">
                            <a href="" id="btnb1" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="fieldb2" style="width:18%">
                            <a href="" id="btnb2" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="fieldb3" style="width:18%">
                            <a href="" id="btnb3" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="fieldb4" style="width:18%">
                            <a href="" id="btnb4" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="fieldb5" style="width:18%">
                            <a href="" id="btnb5" class="btn btn-secret btn-free"></a>
                        </td>
                    </tr>
                    <tr>
                        <th id="c0" class="th-text" scope="row" style="text-align:center width:10%">18:00-19:00</th>

                        <td id="fieldc1" style="width:18%">
                            <a href="" id="btnc1" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="fieldc2" style="width:18%">
                            <a href="" id="btnc2" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="fieldc3" style="width:18%">
                            <a href="" id="btnc3" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="fieldc4" style="width:18%">
                            <a href="" id="btnc4" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="fieldc5" style="width:18%">
                            <a href="" id="btnc5" class="btn btn-secret btn-free"></a>
                        </td>
                    </tr>
                    <tr>
                        <th id="d0" class="th-text" scope="row" style="text-align:center width:10%">19:00-20:00</th>

                        <td id="fieldd1" style="width:18%">
                            <a href="" id="btnd1" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="fieldd2" style="width:18%">
                            <a href="" id="btnd2" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="fieldd3" style="width:18%">
                            <a href="" id="btnd3" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="fieldd4" style="width:18%">
                            <a href="" id="btnd4" class="btn btn-secret btn-free"></a>
                        </td>
                        <td id="fieldd5" style="width:18%">
                            <a href="" id="btnd5" class="btn btn-secret btn-free"></a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</form>
<script>

    //1
    //$('#btn11').on('click', function (e) {
        //e.preventDefault();
        //if($('#btn11').hasClass('btn-occupied') || $('#btn11').hasClass('btn-occupied-selected')){
          //  $('#btn11').toggleClass('btn-occupied btn-occupied-selected');
        //}else{
        //    $('#btn11').toggleClass('btn-free btn-selected');
      //  }
    //});
    $('#btn12').on('click', function (e) {
        e.preventDefault();
        $('#btn12').toggleClass('btn-free btn-selected');
    });
    $('#btn13').on('click', function (e) {
        e.preventDefault();
        $('#btn13').toggleClass('btn-free btn-selected');
    });
    $('#btn14').on('click', function (e) {
        e.preventDefault();
        $('#btn14').toggleClass('btn-free btn-selected');
    });
    $('#btn15').on('click', function (e) {
        e.preventDefault();
        $('#btn15').toggleClass('btn-free btn-selected');
    });
    //2
    $('#btn21').on('click', function (e) {
        e.preventDefault();
        $('#btn21').toggleClass('btn-free btn-selected');
    });
    $('#btn22').on('click', function (e) {
        e.preventDefault();
        $('#btn22').toggleClass('btn-free btn-selected');
    });
    $('#btn23').on('click', function (e) {
        e.preventDefault();
        $('#btn23').toggleClass('btn-free btn-selected');
    });
    $('#btn24').on('click', function (e) {
        e.preventDefault();
        $('#btn24').toggleClass('btn-free btn-selected');
    }); $('#btn25').on('click', function (e) {
        e.preventDefault();
        $('#btn25').toggleClass('btn-free btn-selected');
    });
    //3
    $('#btn31').on('click', function (e) {
        e.preventDefault();
        $('#btn31').toggleClass('btn-free btn-selected');
    });
    $('#btn32').on('click', function (e) {
        e.preventDefault();
        $('#btn32').toggleClass('btn-free btn-selected');
    });
    $('#btn33').on('click', function (e) {
        e.preventDefault();
        $('#btn33').toggleClass('btn-free btn-selected');
    });
    $('#btn34').on('click', function (e) {
        e.preventDefault();
        $('#btn34').toggleClass('btn-free btn-selected');
    });
    $('#btn35').on('click', function (e) {
        e.preventDefault();
        $('#btn35').toggleClass('btn-free btn-selected');
    });
    //4
    $('#btn41').on('click', function (e) {
        e.preventDefault();
        $('#btn41').toggleClass('btn-free btn-selected');
    });
    $('#btn42').on('click', function (e) {
        e.preventDefault();
        $('#btn42').toggleClass('btn-free btn-selected');
    });
    $('#btn43').on('click', function (e) {
        e.preventDefault();
        $('#btn43').toggleClass('btn-free btn-selected');
    });
    $('#btn44').on('click', function (e) {
        e.preventDefault();
        $('#btn44').toggleClass('btn-free btn-selected');
    });
    $('#btn45').on('click', function (e) {
        e.preventDefault();
        $('#btn45').toggleClass('btn-free btn-selected');
    });
    //5
    $('#btn51').on('click', function (e) {
        e.preventDefault();
        $('#btn51').toggleClass('btn-free btn-selected');
    });
    $('#btn52').on('click', function (e) {
        e.preventDefault();
        $('#btn52').toggleClass('btn-free btn-selected');
    });
    $('#btn53').on('click', function (e) {
        e.preventDefault();
        $('#btn53').toggleClass('btn-free btn-selected');
    });
    $('#btn54').on('click', function (e) {
        e.preventDefault();
        $('#btn54').toggleClass('btn-free btn-selected');
    });
    $('#btn55').on('click', function (e) {
        e.preventDefault();
        $('#btn55').toggleClass('btn-free btn-selected');
    });
    //6
    $('#btn61').on('click', function (e) {
        e.preventDefault();
        $('#btn61').toggleClass('btn-free btn-selected');
    });
    $('#btn62').on('click', function (e) {
        e.preventDefault();
        $('#btn62').toggleClass('btn-free btn-selected');
    });
    $('#btn63').on('click', function (e) {
        e.preventDefault();
        $('#btn63').toggleClass('btn-free btn-selected');
    });
    $('#btn64').on('click', function (e) {
        e.preventDefault();
        $('#btn64').toggleClass('btn-free btn-selected');
    });
    $('#btn65').on('click', function (e) {
        e.preventDefault();
        $('#btn65').toggleClass('btn-free btn-selected');
    });
    //7
    $('#btn71').on('click', function (e) {
        e.preventDefault();
        $('#btn71').toggleClass('btn-free btn-selected');
    });
    $('#btn72').on('click', function (e) {
        e.preventDefault();
        $('#btn72').toggleClass('btn-free btn-selected');
    });
    $('#btn73').on('click', function (e) {
        e.preventDefault();
        $('#btn73').toggleClass('btn-free btn-selected');
    });
    $('#btn74').on('click', function (e) {
        e.preventDefault();
        $('#btn74').toggleClass('btn-free btn-selected');
    });
    $('#btn75').on('click', function (e) {
        e.preventDefault();
        $('#btn75').toggleClass('btn-free btn-selected');
    });
    //8
    $('#btn81').on('click', function (e) {
        e.preventDefault();
        $('#btn81').toggleClass('btn-free btn-selected');
    });
    $('#btn82').on('click', function (e) {
        e.preventDefault();
        $('#btn82').toggleClass('btn-free btn-selected');
    });
    $('#btn83').on('click', function (e) {
        e.preventDefault();
        $('#btn83').toggleClass('btn-free btn-selected');
    });
    $('#btn84').on('click', function (e) {
        e.preventDefault();
        $('#btn84').toggleClass('btn-free btn-selected');
    });
    $('#btn85').on('click', function (e) {
        e.preventDefault();
        $('#btn85').toggleClass('btn-free btn-selected');
    });
    //9
    $('#btn91').on('click', function (e) {
        e.preventDefault();
        $('#btn91').toggleClass('btn-free btn-selected');
    });
    $('#btn92').on('click', function (e) {
        e.preventDefault();
        $('#btn92').toggleClass('btn-free btn-selected');
    });
    $('#btn93').on('click', function (e) {
        e.preventDefault();
        $('#btn93').toggleClass('btn-free btn-selected');
    });
    $('#btn94').on('click', function (e) {
        e.preventDefault();
        $('#btn94').toggleClass('btn-free btn-selected');
    });
    $('#btn95').on('click', function (e) {
        e.preventDefault();
        $('#btn95').toggleClass('btn-free btn-selected');
    });
    //a
    $('#btna1').on('click', function (e) {
        e.preventDefault();
        $('#btna1').toggleClass('btn-free btn-selected');
    });
    $('#btna2').on('click', function (e) {
        e.preventDefault();
        $('#btna2').toggleClass('btn-free btn-selected');
    });
    $('#btna3').on('click', function (e) {
        e.preventDefault();
        $('#btna3').toggleClass('btn-free btn-selected');
    });
    $('#btna4').on('click', function (e) {
        e.preventDefault();
        $('#btna4').toggleClass('btn-free btn-selected');
    });
    $('#btna5').on('click', function (e) {
        e.preventDefault();
        $('#btna5').toggleClass('btn-free btn-selected');
    });
    //b
    $('#btnb1').on('click', function (e) {
        e.preventDefault();
        $('#btnb1').toggleClass('btn-free btn-selected');
    });
    $('#btnb2').on('click', function (e) {
        e.preventDefault();
        $('#btnb2').toggleClass('btn-free btn-selected');
    });
    $('#btnb3').on('click', function (e) {
        e.preventDefault();
        $('#btnb3').toggleClass('btn-free btn-selected');
    });
    $('#btnb4').on('click', function (e) {
        e.preventDefault();
        $('#btnb4').toggleClass('btn-free btn-selected');
    });
    $('#btnb5').on('click', function (e) {
        e.preventDefault();
        $('#btnb5').toggleClass('btn-free btn-selected');
    });
    //c
    $('#btnc1').on('click', function (e) {
        e.preventDefault();
        $('#btnc1').toggleClass('btn-free btn-selected');
    });
    $('#btnc2').on('click', function (e) {
        e.preventDefault();
        $('#btnc2').toggleClass('btn-free btn-selected');
    });
    $('#btnc3').on('click', function (e) {
        e.preventDefault();
        $('#btnc3').toggleClass('btn-free btn-selected');
    });
    $('#btnc4').on('click', function (e) {
        e.preventDefault();
        $('#btnc4').toggleClass('btn-free btn-selected');
    });
    $('#btnc5').on('click', function (e) {
        e.preventDefault();
        $('#btnc5').toggleClass('btn-free btn-selected');
    });
    //d
    $('#btnd1').on('click', function (e) {
        e.preventDefault();
        $('#btnd1').toggleClass('btn-free btn-selected');
    });
    $('#btnd2').on('click', function (e) {
        e.preventDefault();
        $('#btnd2').toggleClass('btn-free btn-selected');
    });
    $('#btnd3').on('click', function (e) {
        e.preventDefault();
        $('#btnd3').toggleClass('btn-free btn-selected');
    });
    $('#btnd4').on('click', function (e) {
        e.preventDefault();
        $('#btnd4').toggleClass('btn-free btn-selected');
    });
    $('#btnd5').on('click', function (e) {
        e.preventDefault();
        $('#btnd5').toggleClass('btn-free btn-selected');
    });
</script>