<div class="jumbotron mt-4" style="background-color:#00aFFF">
    <div class="container"> 
        <h1 class="display-4"> Notes App NodeJS and MongoDB</h1>
        <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, temporibus facilis. Dicta soluta excepturi, beatae nulla aspernatur nam perferendis. Vero temporibus ut cumque praesentium consequatur vel nesciunt sit, laboriosam error?</p>
        <a href="https://www.google.com.mx" class="btn btn-primary btn-lg">Google</a>
    </div>    
</div>