body {
  background: #D3CCE3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
  width: 30%;
}

button.btn-primary {
  text-align: center;
}

div.profile {
  background-color: #7D0B26;
  border-color: #7D0B26;
}

input.form-control:read-only {
  background-color: rgb(255, 255, 255);
}

select.form-control:disabled {
  background-color: rgb(255, 255, 255);
}

img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  display: block;
}

img.logo {
  width: 360px;
  height: 120px;
  margin: 0 auto;
  display: block;
}

img.navbar {
  width: 40px;
  height: 40px;
  margin: 0px;
  padding: 0px;
} 

.dropdown-toggle {
  position: relative;
}

.dropdown-toggle::after {
  position: fixed;
  right: 20px;
  bottom: 45%;
}

.headerDivider {
  border-left:1px solid #38546d; 
  border-right:1px solid #16222c; 
  height:80px;
  position:absolute;
  right:249px;
  top:10px; 
}


a.btn-secret {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0px;
}

a.btn-free {
  background-color: rgb(255, 255, 255);
}

a.btn-occupied {
  background-color: #fdff8a;
}

a.btn-occupied-selected {
  background-color: #a13d56;
}

a.btn-selected {
  background-color: #a13d56;
}

th.th-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}

th.th-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: center;
}

td {
  width: 80px;
  height: 40px;
  border-collapse: collapse;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding: 0px;
}

table {
  border-collapse: collapse;
}

.table td {
  padding: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

input.star {
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
  float: right;
}

label.star {
  position: relative;
  float: right;
  color: #c8c8c8;
}

label.mini-star {
  color: #FFC107;
}

label.mini-star-secret {
  color: #ffffff;
}

label.star:before {
  margin: 5px;
  font-size: 1.5em;
  color: var(--accent-color);
}

input.star:checked~label.star:before {
  color: #FFC107;
}

label.star:hover~label.star:before {
  color: #ffdb70;
}

label.star:hover:before:not([disbled]) {
  color: #FFC107;
}

#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}

#customBtn:hover {
  cursor: pointer;
}

#customBtn {
  text-decoration: none !important;
}

span.label {
  font-family: serif;
  font-weight: normal;
}

span.icon {
  background: url('https://res.cloudinary.com/dpar6bmfd/image/upload/v1656010821/assets/btn_google_light_normal_ios_ecuddg.svg') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}