body {
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

.logo {
    width: 30%;
}

button.btn-primary{
    text-align: center;
}

div.profile{

    background-color: #7D0B26;
    border-color: #7D0B26;
}

input.form-control:read-only{
    background-color: rgb(255, 255, 255);
}

select.form-control:disabled{
    background-color: rgb(255, 255, 255);
}

img {
    width: 180px;
    height: 200px;
    margin:0 auto;
    display:block;
  }
