<!-- Footer -->
<footer class="page-footer fixed-bottom" style="background-color: #0c231e;">
  <!-- Footer Links -->
  <div class="container-fluid ml-1 mt-3">
      <img src="https://res.cloudinary.com/dpar6bmfd/image/upload/v1654709997/assets/Imagotipo_DGETI_horizontal_cnpep4.png" alt="" class="logo" align="left">
  </div>
  <!-- Footer Links -->
<!-- Footer -->
</footer>